@charset "UTF-8";

body {
    background-color: deeppink; font-family: Arial, Helvetica, sans-serif; font-size: 20px;
}
h1 {
    color: cornsilk; background-color: rgb(160, 95, 148);
}
h2 {
    color: rgb(85, 255, 6); background-color: blueviolet;
}
p {
    text-align: justify;
}